//基于1920*1080为基准-适用宽度，高度适配用vh或百分比
@function px2Rem($px, $base-font-size: 19.2px) {
  @if (unitless($px)) { //有无单位
    @return ($px / 19.2) * 1rem;
  } @else if (unit($px) == em) {
    @return $px;
  }
  @return ($px / $base-font-size) * 1rem;
}
.halos_box_contianer {
  width: 80%;
}
@media only screen and (max-width: 3840px) {

}
@media only screen and (max-width: 2048px) {

}
@media only screen and (max-width: 1440px) {

}
@media only screen and (max-width: 1366px) {
  .halos_box_contianer {
    width: 75%;
  }
}
@media only screen and (max-width: 1024px) {
  .halos_box_contianer {
    width: 100%;
  }
}
:export {
  px2Rem: px2Rem;
}