@import './mixin.scss';

body, div, span, header, footer, nav, section, aside, article, ul, dl, dt, dd, li, a, p, h1, h2, h3, h4,h5, h6, i, b, textarea, button, input, select, figure, figcaption {
  padding: 0;
  margin: 0;
  list-style: none;
  font-style: normal;
  text-decoration: none;
  border: none;
  font-family: "Microsoft Yahei",sans-serif;
  -webkit-tap-highlight-color:transparent;
  -webkit-font-smoothing: antialiased;
  &:focus {
      outline: none;
  }
}

input[type="button"], input[type="submit"], input[type="search"], input[type="reset"] {
  -webkit-appearance: none;
}

table,textarea { -webkit-appearance: none;}   

html,body{
  height: 100%;
  width: 100%;
}

.container-shadow {
  background: #ffffff;
  box-shadow: 0 4px 12px 0 rgba(207, 217, 239, 0.78);
}

// before伪元素
.inlineBeforeCuboid {
  line-height: 20px;
  height: 20px;
  margin-bottom: 10px;
  text-indent: 18px;
  display: flex;
  justify-content: space-between;
  font-size: 16px;
  color: #666666;
  font-family: PingFangSC-Medium;
  position: relative;
  font-weight: bold;
    &::before {
    content: "";
    position: absolute;
    top: -1px;
    width: 8px;
    height: 22px;
    border-radius: 4px;
    background: #187AEC;
    box-shadow: 0 2px 4px 0 rgba(20,166,250,0.68);
  }
}

.hotStorage {
  &::before {
    content: "";
    width: 22px;
    height: 6px;
    position: absolute;
    border-radius: 3px;
    top: 7px;
    left: 0px;
    background:#3585FF;
  }
}

.coldStroage {
  &::before {
    content: "";
    width: 22px;
    height: 6px;
    position: absolute;
    border-radius: 3px;
    top: 7px;
    left: 0px;
    background: #0EEDF1;
  }
}

.save {
  &::before {
    @include inline-before-circle;
    border: 2px solid #50EDC9;
    box-sizing: border-box;
    background:#DAF5EF;
  }
}

.computed {
  &::before {
    @include inline-before-circle;
    border: 2px solid #3585FF;
    box-sizing: border-box;
    background: #DEEBFF;
  }
}

.opera {
  &::before {
    @include inline-before-circle;
    border: 2px solid #F7B529;
    box-sizing: border-box;
    background: #FFF4DE;
  }
}

.deliver {
  &::before {
    @include inline-before-circle;
    border: 2px solid #FC6761;
    box-sizing: border-box;
    background: #F5DAD9;
  }
}

.pass {
  &::before {
    @include inline-before-circle;
    border: 2px solid #B373EB;
    box-sizing: border-box;
    background: #DCB3FF;
  }
}


// echarts tooltip 样式
.tooltipTitle {
  font-family: PingFangSC-Medium;
  font-size: 14px;
  color: rgba(51,51,51,0.80);
  line-height: 20px;
}
.tooltipStrogeP {
  margin-left: 16px;
  position: relative;
}
.tooltipStroge {
  font-size: 12px;
  color: #666666;
  letter-spacing: 0;
}
.tooltipSave {
  &::before {
    @include tooltip-bar-circle;
    border: 2px solid #50EDC9;
    box-sizing: border-box;
    background:#DAF5EF;
  }
}
.tooltipComputed {
  &::before {
    @include tooltip-bar-circle;
    border: 2px solid #3585FF;
    box-sizing: border-box;
    background: #DEEBFF;
  }
}
.tooltipOprea {
  &::before {
    @include tooltip-bar-circle;
    border: 2px solid #F7B529;
    box-sizing: border-box;
    background: #FFF4DE;
  }
}
.tooltipDliver {
  &::before {
    @include tooltip-bar-circle;
    border: 2px solid #FC6761;
    box-sizing: border-box;
    background: #F5DAD9;
  }
}
.tooltipPass {
  &::before {
    @include tooltip-bar-circle;
    border: 2px solid #B373EB;
    box-sizing: border-box;
    background: #DCB3FF;
  }
}

.tooltipSavePie {
  &::before {
    @include tooltip-pie-circle;
    border: 2px solid #B373EB;
    box-sizing: border-box;
    background: #DCB3FF;
  }
}

