@import './autosize.scss';

// 背景颜色
$bg-leftMenu-color:#2D75F4;
$bg-rightContainer-color: #EFF2F7;

// 字体
$font-family-typeM: PingFangSC-Medium;
$font-family-typeR: PingFangSC-Regular;

// echarts 颜色设置
$ehcarts-tooltip-textStyleColor: #666666;

//滚动条
$thumb-width-h: 6px;
$thumb-width-v: 8px;
$thumb-track-color: #EEEEEE;
$thumb-color:#C2C2C2;
$thumb-border-radius: 12px;

// element
// table th
$table-th-bak: #F2F5F7;
$table-th-color: #666666;
$table-size-small: 12px;

$txt-yellow-color:#FEC500;
$bg-left:#201F1E;
$font-color-primary: #E7E7E7;