@import './autosize.scss';

// 背景颜色
$bg-leftMenu-color:#2D75F4;
$bg-rightContainer-color: #EFF2F7;


// echarts 颜色设置
$ehcarts-tooltip-textStyleColor: #666666;

//滚动条
$thumb-width-h: 6px;
$thumb-width-v: 8px;
$thumb-track-color: #EEEEEE;
$thumb-color:#C2C2C2;
$thumb-border-radius: 12px;

// element
// table th
$table-th-bak: #F2F5F7;
$table-th-color: #666666;